* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #faf8ed;
  font-family: "Inter";
}

.header {
  padding: 33px 135px 136px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-menu {
  margin-left: 72px;
  display: flex;
  gap: 36px;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #2e476b;
  font-family: "Poppins";
}

.book-button {
  border: 1.4px solid #f66f4d;
  border-radius: 27px;
  padding: 19px 34px 19px 34px;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #f66f4d;
}

.main {
  padding: 0 135px 0 135px;
}

h1 {
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;
  color: #2d3134;
  padding-bottom: 16px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #5b5f62;
  padding-bottom: 34px;
}

.top-dest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.main-nav {
  display: flex;
  gap: 14px;
}

.main-nav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 20px;
  color: #2d3134;
}

.main-nav a:hover {
  background-color: #2d3134;
  color: white;
}

.grid-section {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 26px 30px;
  grid-template-areas:
    "grid-item1 grid-item2 grid-item3 grid-item3"
    "grid-item4 grid-item2 grid-item5 grid-item6";
  padding-bottom: 85px;
}

.grid-item1 {
  grid-area: grid-item1;
  background: linear-gradient(
      180deg,
      rgba(30, 30, 28, 0) 62%,
      rgba(20, 20, 18, 0.9) 100%
    ),
    url(../img/pic1.png);
}

.grid-item2 {
  grid-area: grid-item2;
  background: linear-gradient(
      0deg,
      rgba(18, 18, 16, 0.9) 0%,
      rgba(44, 44, 43, 0) 38.72%
    ),
    url(../img/pic3.png);
  gap: 415px;
}

.grid-item3 {
  grid-area: grid-item3;
  background: linear-gradient(
      180deg,
      rgba(30, 30, 27, 0) 56.6%,
      rgba(36, 36, 33, 0.9) 98.88%
    ),
    url(../img/pic4.png);
}

.grid-item4 {
  grid-area: grid-item4;
  background: linear-gradient(
      180deg,
      rgba(54, 53, 48, 0) 64.7%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(../img/pic2.png);
}

.grid-item5 {
  grid-area: grid-item5;
  background: linear-gradient(
      180deg,
      rgba(26, 26, 25, 0) 56.79%,
      rgba(20, 20, 18, 0.9) 102.85%
    ),
    url(../img/pic5.png);
}

.grid-item6 {
  grid-area: grid-item6;
  background: linear-gradient(
      180deg,
      rgba(54, 53, 48, 0) 72.87%,
      rgba(36, 36, 33, 0.9) 101.17%
    ),
    url(../img/pic6.png);
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6 {
  border-radius: 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 16px 0 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  object-fit: cover;
}

.rating {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: white;
  padding: 5px 10px;
  background-color: #2d3134;
  border-radius: 12px;
  display: block;
}

.grid-item-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.grid-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.footer {
  padding: 0 135px 0 135px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer-left a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5b5f62;
}

.footer-right {
  display: flex;
  gap: 114px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-info p {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #2d3134;
  padding-bottom: 22px;
}

.footer-info a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #676a6c;
}

.grid-item1:hover > span {
  background-color: white;
  color: black;
}

.grid-item2:hover > span {
  background-color: white;
  color: black;
}

.grid-item3:hover > span {
  background-color: white;
  color: black;
}

.grid-item4:hover > span {
  background-color: white;
  color: black;
}

.grid-item5:hover > span {
  background-color: white;
  color: black;
}

.grid-item6:hover > span {
  background-color: white;
  color: black;
}
